<div class="mx-2 mb-3">
    <div class="card mx-auto border border-4 border-success bg-success bg-opacity-25">
        <div class="card-body">
            <h1 class="card-title text-center text-success fw-bold text-decoration-underline">{{dog.name}}</h1>
        </div>
        <div>
            <div> <!--Img + nome-->
                <div class="d-flex mb-2"> <!--Image + General-->
                    <img src="{{dog.image_link}}" (click)="apri()" id="immagine" style="width: 49%"
                        class="ms-1 img-fluid rounded border border-success">
                    <div style="width:49%"
                        class="container text-center bg-success bg-opacity-75 border border-success rounded">
                        <div class="row">
                            <div class="col m-2">
                                <h1>General</h1>
                            </div>
                        </div>
                        <div>
                            <div class="row mb-3">
                                <div class="col">
                                    <h5>Barking:</h5>
                                    <h4 class="zoom">{{dog.barking}}</h4>
                                </div>
                                <div class="col">
                                    <h5>Coat length:</h5>
                                    <h4 class="zoom">{{dog.coat_length}}</h4>
                                </div>
                                <div class="col">
                                    <h5>Drooling:</h5>
                                    <h4 class="zoom">{{dog.drooling}}</h4>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <h5>Energy:</h5>
                                    <h4 class="zoom">{{dog.energy}}</h4>
                                </div>
                                <div class="col">
                                    <h5>Grooming:</h5>
                                    <h4 class="zoom">{{dog.grooming}}</h4>
                                </div>
                                <div class="col">
                                    <h5>Playfulness:</h5>
                                    <h4 class="zoom">{{dog.playfulness}}</h4>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <h5>Protectiveness:</h5>
                                    <h4 class="zoom">{{dog.protectiveness}}</h4>
                                </div>
                                <div class="col">
                                    <h5>Shedding:</h5>
                                    <h4 class="zoom">{{dog.shedding}}</h4>
                                </div>
                                <div class="col">
                                    <h5>Trainability:</h5>
                                    <h4 class="zoom">{{dog.trainability}}</h4>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <h5>Min life expectancy:</h5>
                                    <h4 class="zoom">{{dog.min_life_expectancy}} years</h4>
                                </div>
                                <div class="col">
                                    <h5>Max life expectancy:</h5>
                                    <h4 class="zoom">{{dog.max_life_expectancy}} years</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="login; else notLog">
                    <div class="d-flex mb-2"> <!--Goodness-->
                        <div class="container text-center border border-success bg-success bg-opacity-75 rounded">
                            <div class="row">
                                <div class="col m-2">
                                    <h1>Goodness</h1>
                                </div>
                            </div>
                            <div class="row justify-content-between mb-2">
                                <div class="col-3">
                                    <h5>Good with children:</h5>
                                    <h4 class="zoom">{{dog.good_with_children}}</h4>
                                </div>
                                <div class="col-4">
                                    <h5>Good with other dogs:</h5>
                                    <h4 class="zoom">{{dog.good_with_other_dogs}}</h4>
                                </div>
                                <div class="col-3">
                                    <h5>Good with strangers:</h5>
                                    <h4 class="zoom">{{dog.good_with_strangers}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex mb-2"> <!--Weight e Height-->
                        <div class="container text-center border border-success bg-success bg-opacity-75 rounded"
                            style="width: 49%">
                            <div class="row">
                                <div class="col m-2">
                                    <h1>Weight</h1>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <h5>Min weight male ♂:</h5>
                                    <h4 class="zoom">{{dog.min_weight_male}} pound</h4>
                                </div>
                                <div class="col">
                                    <h5>Max weight male ♂:</h5>
                                    <h4 class="zoom">{{dog.max_weight_male}} pound</h4>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <h5>Min weight female ♀:</h5>
                                    <h4 class="zoom">{{dog.min_weight_female}} pound</h4>
                                </div>
                                <div class="col">
                                    <div>Max weight female ♀:</div>
                                    <h4 class="zoom">{{dog.max_weight_female}} pound</h4>
                                </div>
                            </div>
                        </div>
                        <div class="container text-center border border-success bg-success bg-opacity-75 rounded"
                            style="width: 49%">
                            <div class="row">
                                <div class="col m-2">
                                    <h1>Height</h1>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <h5>Min height male ♂:</h5>
                                    <h4 class="zoom">{{dog.min_height_male}} inches</h4>
                                </div>
                                <div class="col">
                                    <h5>Max height male ♂:</h5>
                                    <h4 class="zoom">{{dog.max_height_male}} inches</h4>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <h5>Min height female ♀:</h5>
                                    <h4 class="zoom">{{dog.min_height_female}} inches</h4>
                                </div>
                                <div class="col">
                                    <h5>Max height female ♀:</h5>
                                    <h4 class="zoom">{{dog.max_height_female}} inches</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #notLog>
                    <div class="container text-center border border-success bg-success bg-opacity-75 rounded p-5 mb-1">
                        <h2 class="fst-italic ">Log in to see more details</h2>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>