/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body{
    background-color: rgb(190, 231, 182);
    color: #dcaa14;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.in {
    background: transparent;
    color: black;
    cursor: pointer;
}